.header {
    display: flex;
    height: 280px;
    padding: 30px 40px;
    background-color: rgb(215, 226, 226);

}

.site-image {
    width: 420px;
    margin-left: 50px;
    text-align: center;

}
img {
    background-color:  rgb(215, 226, 226);
}

.h2 {
    font-size: 45px;
}

* {
    margin: 0px 10px;
}